@model List<Variant>
@{
    ViewData["Title"] = "Home Page";
}

<a href="/home/calc/" class="btn btn-primary">Новый расчет</a>

<table class="table-hover"
    <tr>
        <th>Высота слоя</th>
        <th>Начальная температура окатышей</th>
        <th>Начальная температура воздуха</th>
        <th>Скорость воздуха на свободное сечение шахты</th>
        <th>Средняя теплоемкость воздуха</th>
        <th>Расход окатышей</th>
        <th>Теплоемкость окатышей</th>
        <th>Диаметр аппарата</th>
        <th>Объемный коэффициент теплоотдачи</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.H0</td>
            <td>@item.Tmal</td>
            <td>@item.Tbol</td>
            <td>@item.Wg</td>
            <td>@item.Cg</td>
            <td>@item.Cm</td>
            <td>@item.Gm</td>
            <td>@item.Da</td>
            <td>@item.Av</td>
            <td>
                    <a href="/home/calc/@item.Id">Открыть</a> <a href="/home/delete/@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>


